.spoiler
  background: orange
  color: white
  margin-top: 0
  transition: all 400ms ease
  width: 200px
  &:hover
    animation: slideAround 3s

@keyframes slideAround
  0%
    margin-left: 0
    margin-top: 0
  25%
     margin-left: 50px
     margin-top: 0
  50%
    margin-left: 50px
    margin-top: 50px
  100%
    margin-left: 0
    margin-top: 0












.spoiler2
  color: orange
  display: inline-block
  transition: all 400ms ease
  &:hover
    background: blue
    margin-left: 300px
