{% extends 'layout.server.view.html' %}

{% block content %}
<div ng-controller="appControllerJ">

    <div ng-switch="state">
        <!-- landing page... In a way. We added this from the ng spa framework course  -->
        <div ng-switch-when="unauthorized" >
            <div data-ui-view></div>
        </div>
        <!-- now start awesome app ^_^ -->
        <div ng-switch-default class="sign-in-form container center-block">
            <h1>ZZZ Sign In mayne</h1>
            <h4>Press Button to Enter:</h4>
            <button class="btn btn-default" ng-click="signIn()">Press Me</button>
        </div>
    </div>

</div>
{% endblock %}
